# Ignore the Datasets directory
Datasets/

# Ignore the __pycache__ directories
__pycache__/

# Ignore the data directory
data/

# Ignore the training_op.txt file
training_op.txt

# Ignore saved models
trained_model/
mixed_model/trained_mixed_model/
mixed_model/trained_mixed_model_trial_3/